/* استایل‌های مربوط به GuestComponent */

.guestContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.8rem;
    background: linear-gradient(160deg, #ededed, #b8dae5);
    width: min(500px, 90%);
    margin: 3rem auto 0;
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    box-shadow: -6px 4px 20px 0px lightgray;
}

.guest-title {
    margin: 0;
    font-size: 1.6rem;
    color: #153647;
}

.guestDescription {
    position: relative;
    background-color: snow;
    width: 100%;
    padding: 1.1rem 1.3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1rem;
}

.guestDescription::before {
    content: "👋";
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: snow;
    box-shadow: -6px 4px 20px 0px lightgray;
    width: 2rem;
    height: 2rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}