/* header
desHead
btnHead */
.container{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-inline: 5rem;
    padding-block: 0.8rem;
    background: linear-gradient(45deg, #a667e0 66%, transparent 143%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .desHead {
    background-color: snow;
    border-radius: 50%;
    padding: 0.5rem;
    /* margin: 0; */
    font-family: cursive;
    margin: 0;
}