body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(61, 69, 94);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-items: center;
  text-align: center;
  color: white;
}