@import "tailwindcss";

@font-face {
  font-family: "Shabnam";
  src: url("../assets/font/Shabnam.ttf") format("woff");
}

* {
  box-sizing: border-box;
  font-family: "Shabnam";
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(230, 249, 255);
}